<%= f.error_notification %>

<div class="inputs">
  <%= f.input :title %>
</div>

<div class="actions">
  <%= f.button :submit %>
  <%= link_to 'Назад', admin_main_categories_path, :class => 'button', :style => "float:left" %>
</div>



