<div class="top_list">

</div>
<div class="list">
  <div class="standard_show">
     <%= page_title("О проекте") %>
    <div class="text">
      Данный проект является детищем молодой и перспективной команды разработчиков из Беларуси.
      Проект в целом развлекательный, хотя мы как раз хотели бы что бы вы тратили свое время в
      интрернете не просто на глупое развлечение, а и на развитие самих себя. Подробное описание
      правил и механизма работы вы можете найти <%= link_to 'здесь', '/rules' %> или выбрав в меню
      пункт "Правила игры".
      Будем очень рады если вам данный ресурс принесет пользу и будем благодарны за любой отзыв,
      предложение и т.д.
    </div>
    <h3>Команда разработчиков:</h3>
    <table class="show_table">
      <tr>
        <td class="image_holder">
           <img src="/assets/ann.jpg" alt="Желток Анна">
        </td>
        <td class="description">
          <h5>Желток Анна(Web Designer)</h5>
            Ответственна за общую концепцию стиля сайта. А по-русски за чувство прекрасного)
        </td>
      </tr>
      <tr>
        <td class="image_holder">
          <img src="/assets/natasha.jpg" alt="Макейчик Нальталья">
        </td>
        <td class="description">
          <h5>Макейчик Нальталья(Web Designer)</h5>
          Старый добрый html. Наша верстка в ее руках.
        </td>
      </tr>
      <tr>
        <td class="image_holder">
          <img src="/assets/nick.jpg" alt="Ананько Николай">
        </td>
        <td class="description">
          <h5>Ананько Николай(Developer)</h5>
          Разработка серверной части. Прикручивание "фишек")
        </td>
      </tr>
      <tr>
        <td class="image_holder">
          <img src="/assets/sokol.jpg" alt="Соколов Вадим">
        </td>
        <td class="description">
          <h5>Соколов Вадим(Developer)</h5>
          Разработка серверной части.
        </td>
      </tr>
      <tr>
        <td class="image_holder">
          <img src="/assets/kostev.jpg" alt="Костев Евгений">
        </td>
        <td class="description">
          <h5>Костев Евгений(Developer)</h5>
          Разработка серверной части.
        </td>
      </tr>
    </table>
  </div>
</div>
