<div class="top_list">

</div>
<div class="list">
  <div class="standard_show">


    <h1>FrontEnd::OtherPages#rules</h1>

    <p>Find me in app/views/front_end/other_pages/rules.html.erb</p>
  </div>
</div>


