<%= simple_form_for(@profile, :url => url_for(:controller => :profiles, :action => :update)) do |f| %>

    <div class="top_panel">
      <%= buttons = render 'buttons', :f =>f %>
    </div>

    <%= render 'form', :f =>f %>

    <div class="top_panel">
      <%= buttons %>
    </div>
<% end %>