<div class="top_list">
  <div class="news">
    <img src="<%= @main_news_point.try(:news_point_image_url) %>" class="pic left"/>
    <h4>Наши новости</h4>

    <p class="date"><%= standard_date(@main_news_point.try(:created_at)) %> </p>

    <p>
      <%= truncate_html(@main_news_point.try(:description), :length => 250, :omission => "...(<a href='#'>#Читать далее</a>)") %>
    </p>

    <div class="clr"><!-- --></div>
  </div>

</div>

<div class="list">
  <%= render :partial => 'shared/news_point', :collection => @news_points %>
</div>

