// Place all the styles related to the admin/admin_home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin full_table($height: 100%){
     border:0px;
     border-collapse:collapse;
     border-spacing:0px !important;
     width:100%;
     height:$height;
}

body {
    margin:0 !important;
}

table{
    width:100%;
}

#main_admin_table{
    @include full_table;
    color:black;
    #admin_header{
        height:50px;
        text-align:center;
        vertical-align:middle;
    }
    #admin_menu{
        height:40px;
        .admin_menu_item{
            text-align:center;
            border:1px solid black;
        }
    }
    #admin_content{

    }
}

.admin_text_field{
    width:250px;
}

.admin_text_area{
    width:250px;
    height:70px;
}

.admin_select{
    width:250px;
}
.admin_table th {
  background-color: #999;
}

.admin_table .even {
  background-color: #999;
}

.admin_table .odd {
  background-color: #ddd;
}