.main_list .standard_show{
  margin-top: -135px;
  padding: 0 40px 120px 40px;
  h3 {font: bold 16px Verdana, Arial, Helvetica, sans-serif; padding: 10px 0;}
  h4 {padding-top: 0 }
  h5 {font: bold 13px Verdana, Arial, Helvetica, sans-serif; padding: 5px 0;}
  .show_table {td{padding: 10px; vertical-align: top;}}
}