.standard_form{
  margin-top: -155px;
  padding: 0 40px 100px 40px;
  .title {}
  .head {font-size: larger; padding-bottom: 20px;}
  .content {
    .row_value {
      input {width: 20px;}
    }
    .buttons{
      padding-top: 20px;
        text-align: center;
    }
  }
  .form_row {
    padding: 5px 0;
  }

}

#contact_form {
  .form_row {
    p.label {width: 160px;}
  }
}