<h1>Добавить Соревнование</h1>
<%= simple_nested_form_for @competition, :url => url_for(:action => :create, :controller => :competitions, :namespace => :admin, :method => :post) do |f| %>

    <%= render 'form', :f => f %>

<% end %>
